
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/log.txt
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/Makefile
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/Makefile.Release
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/Makefile.Debug
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/object_script.othello.Debug
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/object_script.othello.Release
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/othello_resource.rc
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/ui_mainwindow.h
src/gui/headers/mainwindow.h
src/gui/othello.pro
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/ui_game_handler.o
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/mainwindow.o
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/moc_animatedradiobutton.cpp
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/moc_animatedradiobutton.o
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/moc_mainwindow.cpp
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/moc_mainwindow.o
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/moc_predefs.h
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/othello_resource_res.o
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/qrc_resources.cpp
src/build-othello-Desktop_Qt_6_2_4_MinGW_64_bit-Debug/debug/qrc_resources.o
